@font-face {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    src: local('PT Sans'), local('PTSans'),
    url('../fonts/ptsans.woff2') format('woff2'),
    url('../fonts/ptsans.woff') format('woff');
}

@font-face {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    src: local('Cuprum'),
        url('../fonts/cuprum.woff2') format('woff2'),
        url('../fonts/cuprum.woff') format('woff');
} 

@font-face {
    font-family: PT Sans Bold;
    font-style: normal;
    font-weight: normal;
    src: local('PT Sans Bold'), local('PTSansBold'),
    url('../fonts/ptsans.woff2') format('woff2'),
    url('../fonts/ptsans.woff') format('woff');
}

@font-face {
    font-family: Cuprum Bold;
    font-style: normal;
    font-weight: normal;
    src: local('Cuprum Bold'),
    url('../fonts/cuprumbold.woff2') format('woff2'), 
    url('../fonts/cuprumbold.woff') format('woff');
}

@font-face {
    font-family: Cuprum Italic;
    font-style: normal;
    font-weight: normal;
    src: local('Cuprum Italic'),
    url('../fonts/cuprumitalic.woff2') format('woff2'), 
    url('../fonts/cuprumitalic.woff') format('woff');
}

:root {
   --basik-background: #f1f5f7;
   --dark-blue: #293449;
   --dark-blue-click: #161d29;
   --basik-red: #ee3643;
   --basik-red-click: #ba2732;
   --basik-red-nav: #ca2c37;
   --basik-green: #63a63e;
   --basik-green-nav: #5fbb2d;
   --basik-green-click: #518534;
   --stuff-yellow: #ffbf47;
   --stuff-blue: #3bbce3;
   --stuff-violet: #dc91d8;
   --stuff-green: #8ed78f;
   --basik-white: #ffffff;
   --basik-black: #000000; 
   --basik-greylight: #c5c5c5;   
   --basik-topbackground: rgba(0, 0, 0, 0.0001); 
   --dark-grey: #32425c;
   --background-products: #f9f5f0;
   --basik-cen: #a9a9a9;
   --low-white: #f3f7f9;
   --background-catalog: #f2f6f8;
   --basik-sign: #3d546f;
   --basik-nav: #293449;
   --basik-navclick: #1d2739;
}

body {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    min-width: 960px;
    margin: 0;
    padding: 0;  
}

a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

.no-indentation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-weight: normal;
}

.no-bulites {
    list-style-type: none;
    padding-inline-start: 0;
}

.notheading {
    visibility: hidden;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.page-header {
    background-color: var(--low-white);
    height: 320px;
}

.main-order-bar {
    background-color: var(--dark-blue);
    height: 42px;
}

.main-order {
    display: flex;
    justify-content: space-between;  
    font-size: 18px;
    line-height: 24px;
    color: var(--basik-white);
    list-style: none;
    width: 940px;
    margin: 0 auto;
    height: 42px;
}

.header-logo {
    background-color: var(--basik-red);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 13px;
    padding-bottom: 13px; 
    height: 21px;    
}

.header-logo:active {
    background-color: var(--basik-red-click);
}

.order-navigation {
    display: flex;   
    justify-content: space-between;
    align-items: center;
    flex-basis: 450px;     
    margin: 0;
}

.order-navigation-inbookmarks {
    position: relative;
    padding: 12px 24px 9px 43px;
}

.order-navigation-inbookmarks::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 15px;
    width: 14px;
    height: 15px;
    background-image: url("/img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.order-navigation-inbookmarks:active {
    background-color: var(--dark-blue-click);
}

.order-inbasket:hover::before,
.order-navigation-inbookmarks:hover::before {
    opacity: 1;
}

.order-inbasket {
    position: relative;
    padding: 12px 26px 10px 47px;
}

.order-inbasket::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 15px;
    width: 15px;
    height: 15px;
    background-image: url("/img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.order-inbasket:active {
    opacity: 0.5;
}

.order-navigation-arrange {
    background-color: var(--basik-green);
    padding: 11px 19px 11px 19px;
    width: 150px;
    height: 42px;
}

.order-navigation-arrange:hover {
    background-color: var(--basik-green-nav);
}

.order-navigation-arrange:active {
    color: rgba(255, 255, 255, 0.5);
}

.button-order {
    font-size: 21px;
    line-height: 21px;
}

.button-sign {
    background: var(--basik-white);
    padding: 12px 27px 12px 46px;
    color: var(--basik-black);
    position: relative;
}

.button-sign::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 13px;
    width: 20px;
    height: 17px;
    background-image: url("/img/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.button-sign:hover::before {
    background-image: url("/img/icon-loginhov.png");
}

.button-reg:hover,
.button-sign:hover {
    color: var(--basik-red);
}

.button-reg:active,
.button-sign:active {
    color: var(--basik-greylight)
}

.button-reg {
    background: var(--basik-white);
    padding: 12px 24px 12px 24px;
    color: var(--basik-black);
}

.main-description {
    display: flex;
    justify-content: space-between;
    width: 940px;
    height: 158px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 42px;
}

.tell {
    background-color: var(--low-white);
    border: 3px solid var(--basik-white);
    padding: 9px 42px 9px 70px;
    text-align: center;
    position: relative;
}

.tell::before {
    content: "";
    position: absolute;
    left: 35px;
    top: 14px;
    width: 18px;
    height: 19px;
    background-image: url("/img/Tell.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.tell-adress {
    display: flex;
    flex-direction: column; 
}

.main-description p {
    font-family: Cuprum;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: var(--basik-red);
    padding-left: 30px;
    margin: 0;
}

.tell-adress a {
    font-family: Cuprum;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--basik-red);
}

.main-description address {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--dark-grey);
    text-align: center; 
}

.main-navigation {
    background-color: var(--dark-grey);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
    width: 940px;
    margin: 0 auto;
    
}

.site-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
    color: var(--basik-white);
    height: 60px;   
   
}

.site-navigation a {
    padding: 18px 28px 16px 32px;
    display: block
}

.site-navigation a:hover {
    background-color: var(--basik-nav);
}

.categories-list {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    gap: 20px;
    width: 940px;
    margin: 0 auto;
}

.categories-slider {
    grid-column: 1/3;
    grid-row: 2/-1;  
}

.categories-item {
    position: relative;
    font-family: Cumprum;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30ph;
    color: var(--basik-white);
}

.button-categories {
    position: absolute;
    top: 60px;
    left: 20px;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: var(--basik-white);
    padding: 10px 24px 10px 23px;
    background-color: rgba(255, 255, 255, 0.3);
}

.button-categories:hover {
    background-color: rgba(197, 197, 197, 0.3);
}

.button-categories:active {
    background-color: rgba(169, 169, 169, 0.3);
}

.categories-item p {
    font-size: 24px;
    line-height: 30px;
    position: absolute;
    left: 20px;
    top: -10px
}

.categories-item-flag::before {
    content: "";
    position: absolute;
    left: 230px;
    width: 70px;
    height: 70px;
    background-image: url(/img/Rect15.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.categories-item-new {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    position: absolute;
    left: 260px;
    top: 15px;
    transform: rotate(45deg);
}

.categories-list li:nth-child(1)::before {
    content: "";
    position: absolute;
    left: 210px;
    top: 30px;
    width: 44px;
    height: 65px;
    background-image: url("/img/Object-mat.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.categories-list li:nth-child(2)::before {
    content: "";
    position: absolute;
    left: 210px;
    top: 30px;
    width: 71px;
    height: 61px;
    background-image: url("/img/Shape.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.categories-list li:nth-child(3)::before {
    content: "";
    position: absolute;
    left: 190px;
    top: 30px;
    width: 78px;
    height: 62px;
    background-image: url("/img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.categories-list li:nth-child(4)::before {
    content: "";
    position: absolute;
    left: 190px;
    top: 30px;
    width: 78px;
    height: 62px;
    background-image: url("/img/icon-4.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.categories-list li:nth-child(5)::before {
    content: "";
    position: absolute;
    left: 190px;
    top: 30px;
    width: 78px;
    height: 62px;
    background-image: url("/img/icon-5.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.categories-list li:nth-child(1) {
    background-color: var(--stuff-yellow);
}

.categories-list li:nth-child(2) {
    background-color: var(--stuff-blue);
}

.categories-list li:nth-child(3) {
    background-color: var(--stuff-violet);
}

.categories-list li:nth-child(4) {
    background-color: var(--stuff-green);
}

.categories-list li:nth-child(5) {
    background-color: var(--stuff-yellow);
}

.perfocart-slide {
    position: relative;
}

.perfocart-slide h2 {
    position: absolute;
    top: -5px;
    left: 20px;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: var(--basik-white);
}

.perfocart-slide p {
    position: absolute;
    top: 45px;
    left: 20px;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basik-white);
}

.perfocart-slide a {
    position: absolute;
    top: 190px;
    left: 30px;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basik-white);
    background-color: var(--basik-red);
    padding: 11px 46px 9px 46px;
}

.perfocart-slide a:hover {
    background-color: var(--basik-red-nav);
}

.perfocart-slide a:active {
    background-color: var(--basik-red-click);
}

.products {
    display: grid;
    grid-template-rows: 89px ;
    gap: 20px;
}

.products-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-products);
    width: 940px;
    height: 89px;
    margin: 0 auto;
}

.products-block h2 {
    text-transform: uppercase;
}

.products-block h3 {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 30px;
    padding-left: 28px;
}

.products-block-nav {
    background-color: var(--basik-red);  
    padding: 14px 24px 14px 24px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
}

.products-list {
    display: flex;
    gap: 20px;
    width: 940px;
    margin: 0 auto;
}

.products-item {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 220px;
    height: 318px;
    text-align: center;
    padding-bottom: 21px;
}

.buuton-bay {
    position: relative;
    font-size: 14px;
    line-height: 18px;
    color: var(--basik-white);
    text-transform: uppercase;
    background-color: var(--basik-green);
    box-shadow: inset 0px -3px 0px #367315;
    padding: 10px 38px 10px 51px;
    margin-top: 38px;
    border-radius: 4px;
    border: none;
}

.buuton-bay::before {
    content: "";
    position: absolute;
    left: 30px;
    top: 10px;
    width: 15px;
    height: 15px;
    background-image: url("/img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.buuton-bay:hover {
    background-color: #5fbb2d;
}

.buuton-bay:focus {
    background-color: var(--basik-green-click);
    outline: none;
}

.button-bay:active {
    background-color: var(--basik-green-click);
}

.buuton-bookmarks {
    font-size: 14px;
    line-height: 18px;
    color: var(--dark-grey);
    text-transform: uppercase;
    background-color: var(--basik-white);
    border: 3px solid #63A63E;
    border-radius: 2px;
    padding: 11px 30px 9px 30px;
    margin-top: 10px;
    margin-bottom: 70px;
}

.buuton-bookmarks:hover {
    border: 3px solid var(--dark-grey);
}

.buuton-bookmarks:focus {
    opacity: 0.5;
    outline: none;
}

.products-item:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

 .products-item-bay {
    display: none;
}

.products-item:hover > .products-item-image {
    display: none;
}

.products-item:hover > .products-item-bay{
    display: block;
}

.products-item-image img {
    width: 184px;
    height: 164px;
    object-fit: scale-down;
    object-position: 50% 50%;
}
   
.products-item span {
    font-family: Pt Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: var(--basik-black);
}

.products-item del {
    font-family: Pt Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: var(--basik-cen);
}

.button-products {
    background-image: url("../img/Shape.png");
    width: 141px;
    height: 38px;
    border: 0;
    background-color: white;
    color: var(--basik-white);
}


.manufactures {
    display: grid;
    grid-template-rows: 89px;
    gap: 20px;
}

.manufactures-block {
    display: grid;
    grid-template-columns: 1fr 192px;
    align-items: center;
    background-color: var(--background-products);
    width: 940px;
    height: 89px;
    margin: 0 auto;
}

.manufactures-block h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    padding-left: 20px;
}

.manufactures-block-nav {
    background-color: var(--basik-red); 
    padding: 14px 39px 14px 39px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
}

.manufactures-list{
    display: grid;
    grid-template-columns: repeat(4, 220px);
    grid-template-rows: 145px 145px;
    gap: 20px;
    width: 940px;
    margin: 0 auto;
}

.manufactures-list-logo:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.manufactures-list-logo:active {
    opacity: 0.5;
}

.service {
    background-color: var(--basik-background);
    height: 522px;
    margin-top: 70px;
}

.service-slide {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
    width: 940px;
    margin: 0 auto;
}

.service-slide-warranty,
.service-slide-credit {
    display: none;
}

.service h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basik-black);
    width: 940px;
    margin: 0 auto;
    padding-top: 64px;
}

.service-slide h3 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basik-adr);
}

.service p {
    font-size: 13px;
    line-height: 24px;
    color: var(--basik-black);
    width: 940px;
    margin: 0 auto;
}

.service-list-delivery {
    background-color: var(--dark-grey);
    padding: 13px 139px 17px 22px;
    font-weight: bold;
    font-size: 21px;
    color: var(--low-white);
    outline: none;
    border: none;
}

.service-list-warranty {
    background-color: var(--dark-grey);
    padding: 13px 140px 17px 22px;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--low-white);
    outline: none;
    border: none;
}

.service-list-credit {
    background-color: var(--dark-grey);
    padding: 13px 156px 17px 22px;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--low-white);
    outline: none;
    border: none;
}

.service-list-delivery:hover,
.service-list-warranty:hover,
.service-list-credit:hover {
    background-color: var(--dark-blue);
}

.service-list-delivery:focus,
.service-list-warranty:focus,
.service-list-credit:focus {
    background-color: var(--basik-white);
    color: var(--dark-grey)
}

.details {
    display: grid;
    grid-template-columns: auto auto;
    width: 940px;
    margin: 0 auto;
}

.details h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basik-black);
}

.details p {
    font-family: Pt Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}

.details-list {
    font-size: 18px;
    line-height: 24px;
    color: var(--basik-black)
}

.details-list-more {
    background-color: var(--basik-red);
    padding: 11px 40px 9px 39px;
    
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.details-list-more:hover {
    background-color: var(--basik-red-nav);
}

.details-list-more:active {
    background-color: var(--basik-red-click);
}

.contacts h2 {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    color: var(--basik-black)
}

.details-list-lost {
    background-color: var(--basik-red);
    color: var(--basik-white);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 11px 45px 9px 45px;
    outline: none;
    border: none;
}

.details-list-lost:hover {
    background-color: var(--basik-red-nav);
}

.details-list-lost:active {
    background-color: var(--basik-red-click);
}

.footer-navigation-bar {
    background-color: var(--dark-grey);
    height: 193px;
}

.footer-navigation {
    width: 940px;
    margin: 0 auto;
}

.footer-navigation-menu {
    display: flex;
    justify-content: space-between;
}

.footer-navigation-logo {
    background-color: var(--basik-red);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
    padding: 20px 41px 25px 41px; 
}

.footer-nav {
    display: flex;
    justify-content: space-between; 
    flex-basis: 547px;
    align-items: flex-end;
}

.footer-navigation h2 {
    display: none;
}

.footer-cat { 
    display: flex; 
    justify-content: space-between;
    align-items: flex-end;
}

.footer-cat-nav {
    display: flex;
    justify-content: space-between;
    flex-basis: 524px;
    
}

.footer-cat-nav a,
.footer-nav a {
    display: block;
}

.footer-cat-nav a:hover,
.footer-nav a:hover {
    text-decoration: underline;
}

.footer-cat-nav a:active,
.footer-nav a:active {
    opacity: 0.5;
}


.footer-cat address {
    color: var(--low-white);
}

.footer-cat-nav li a {
    color: var(--stuff-yellow);
}

.footer-contacts-bar {
    background-color: var(--dark-blue);
    height: 107px;
}

.footer-contacts {
    display: grid;
    grid-template-columns: auto auto auto;
    color: var(--basik-white);
    width: 940px;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-contacts h2 {
    display: none
}

.footer-social {
    display: grid;
    grid-template-columns: 44px 44px 44px;
    gap: 10px;
}

.footer-copyright {
    display: grid;
    grid-template-columns: auto auto;
    gap: 54px;
}

.footer-copyright li a {
    color: var(--stuff-yellow)
}

.footer-copyright li a:hover {
    text-decoration: underline;
}

.footer-copyright li a:active {
    color: var(--basik-red);
}

.social {
    background: linear-gradient(0deg, #212A3A, #212A3A);
    border-radius: 50%;
    Width: 44px;
    Height: 44px;   
}

.social a {
    display: block;
}

.social a:hover {
    background: linear-gradient(0deg, var(--basik-red), var(--basik-red));
    border-radius: 50%;
    Width: 44px;
    Height: 44px;   
}

.social-hidden {
    opacity: 0;  
}

/* Стили для католога */

.page-maincatolog-nav {
    width: 940px;
    margin: 0 auto;
}

.catalog-block {
    width: 940px;
    margin: 0 auto;
}

.catalog-navigation {
    display: flex;
    justify-content: space-between;
    width: 357px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    align-items: center;
    text-transform: uppercase; 
}

.catalog-navigation a {
    color: var(--basik-black);
}

.catalog-heading {
    background-color: var(--background-catalog);
 
}

.catalog-heading h2 {
    padding: 29px 739px 30px 29px;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--dark-grey)
}

.catalog-block-product {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
   
}

.product-block-nav {
    grid-column: 2/2;
}

.products-list-catalog {
    display: grid;
    grid-template-columns: 220px 220px 220px;
    gap: 20px;
}

.products-list-navigation {   
    display: flex;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    padding-bottom: 59px;
    
}

.products-list-navigation a {
    color: var(--basik-black);
    border: 1px solid #e5e5e5;
    padding: 10px 15px 10px 15px;
    margin: 10px;
}

.perforators {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--basik-background);
    height: 261px;
    width: unset;
    
}

.perforators h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    width: 940px;
    margin: 0 auto;
    padding-bottom: 25px;
}

.perforators p {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--basik-black); 
    width: 940px;
    margin: 0 auto; 
}

.order-navigation-basket {
    background-color: var(--basik-red);
    padding: 11px 21px 11px 35px; 
}

.order-navigation-bookmarks {
    padding-right: 38px;
}

.button-order-private {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.private-nav-button {
    color: var(--dark-grey)
}

.button-private {
    background: var(--basik-white);
    padding: 12px 57px 12px 56px;
    color: var(--basik-black);
}

.private-nav {
    text-align: center;
}

.order-navigation-catalog {
    display: flex;   
    justify-content: flex-end;
    align-items: center;     
}

.main-order-catalog {
    display: flex;
    justify-content: space-between;
    flex-basis: 313px;  
    font-size: 18px;
    line-height: 24px;
    color: var(--basik-white);
    list-style: none;
    width: 940px;
    margin: 0 auto;
    height: 42px;
}
